---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import About from '../components/About';
import Experience from '../components/Experience';
import Skills from '../components/Skills';
import Projects from '../components/Projects';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
import LazyShow from '../components/LazyShow'
import Canvas from '../components/Canvas/Canvas'

// Datos para los componentes
const navItems = [
  { name: 'Inicio', url: '#intro' },
  { name: 'Sobre Mí', url: '#about' },
  { name: 'Experiencia', url: '#experience' },
  { name: 'Habilidades', url: '#skills' },
  { name: 'Tecnologías', url: '#stack'},
  { name: 'Proyectos', url: '#works' },
  { name: 'Contacto', url: '#contact' }
];

const workExperience = [
  {
    title: 'QA BIT',
    role: 'Ingeniero de Software',
    period: 'Septiembre 2024 - Presente',
    description: '•	Desarrollo y mantenimiento de aplicaciones web con NestJS y NextJs.\n •	Integración de módulos de inteligencia artificial para optimizar la experiencia y eficiencia de las aplicaciones.\n •	Colaboración con equipos multidisciplinarios para implementar soluciones innovadoras.'
  },
  {
    title: 'Freelancer',
    role: 'Team Leader y Arquitecto de Software',
    period: 'Abril 2024 - Septiembre 2024',
    description: '•	Lideré proyectos de principio a fin, definiendo la arquitectura y estrategias de desarrollo para diversos clientes.\n•	Coordiné equipos de desarrollo, gestionando la implementación tanto en front-end (NextJs) como en back- end (Nestjs).\n•	Supervisé la integración de pipelines de CI/CD y automatización en entornos cloud, garantizando despliegues de alta calidad.'
  },
  {
    title: 'Enjoy Travel Group',
    role: 'Desarrollador Full-Stack',
    period: 'Junio 2022 - Marzo 2024',
    description: '•	Desarrollo de aplicaciones web con un fuerte enfoque en Django y NextJS, optimizando tanto el rendimiento del front-end como la robustez del back-end.\n•	Lideré el equipo de desarrollo, practicando metodologías agiles y gestionando las contribuciones al codigo, además de la documentación de los proyectos.\n•	Proyecto destacado: Plataforma integral de reservas y gestión turística, gestión de vuelos y seguros, integrando APIs de terceros y análisis de datos en tiempo real.'
  },
  {
    title: 'Guajirito SRL',
    role: 'Desarrollador Full-Stack Junior',
    period: 'Octubre 2021 - Marzo 2022',
    description: '•	Implementación de interfaces dinámicas con React para el front-end y desarrollo de back-end con Node.js (Express) y MongoDB.\n •	Colaboré en el diseño de soluciones orientadas a mejorar procesos internos y la experiencia del usuario.\n •	Proyecto destacado: Sistema de gestión de contenidos y e-commerce que optimizó la automatización y análisis en tiempo real de las ventas.'
  }
];

const education = [
  {
    title: 'Ingeniería de Software, Instituto Politécnico de la Habana (CUJAE)',
    role: 'Ingeniería de Software',
    period: 'Marzo 2021 - Mayo 2025',
    description: `Graduado en Ingeniería de Software, con una tesis especializada en AutoML para Clustering. Desarrollo de amplios conocimientos en:
    • Diseño de software \n
    • Ingeniería de requisitos\n
    • Estructuras de datos \n
    • Bases de datos\n
    • Programación orientada a objetos \n
    • Machine Learning y Deep Learning \n 
    • Desarrollo de aplicaciones full stack y de microservicios.`,
    icon:'study'
  },
];

const skills = [
  {
    title: "Desarrollo Full Stack",
    description: "Experiencia completa en la construcción de aplicaciones web y móviles, desde la interfaz de usuario hasta la lógica de negocio y la gestión de bases de datos. Capacidad para diseñar y mantener arquitecturas escalables y eficientes."
  },
  {
    title: "Liderazgo Técnico",
    description: "Coordinación y guía de equipos de desarrollo, definiendo estándares técnicos, revisando código y asegurando la calidad del producto. Experiencia como tech lead y project manager en proyectos multidisciplinarios."
  },
  {
    title: "Inteligencia Artificial",
    description: "Diseño e implementación de soluciones basadas en machine learning y deep learning. Integración de modelos de IA en productos reales, automatizando procesos y aportando valor mediante la analítica avanzada."
  },
  {
    title: "Modelos de Lenguaje (LLM)",
    description: "Especialización en el uso e integración de grandes modelos de lenguaje (LLM) para tareas de procesamiento de lenguaje natural, generación de texto y automatización inteligente de flujos de trabajo."
  },
  {
    title: "Gestión de Proyectos",
    description: "Planificación, coordinación y ejecución de proyectos tecnológicos, asegurando el cumplimiento de objetivos, plazos y calidad. Gestión eficiente de equipos y recursos."
  },
  {
    title: "Innovación y Emprendimiento",
    description: "Actitud proactiva hacia la creación y lanzamiento de nuevos productos digitales. Desarrollo de ideas innovadoras en el sector tecnológico, combinando creatividad, visión de negocio y capacidades técnicas."
  },
];

const projects = [
  {
    title: 'VivoBot',
    category: 'ChatBot',
    description: 'Agente Integeligente para guiar a los prestadores de la empresa VivoFacil en la ejecución de sus tareas diarias',
    image: './vivofacil.png',
    tags:['Nestjs', 'Redis', 'Openai']
  },
  {
    title: 'Holnix Shopify Plugin',
    category: 'Plugin',
    description: 'Aplicación Embebida en el ambiente de Shopify que utiliza la API de Holnix',
    image: './holnix.png',
    tags:['Remix','React','Tailwind','Shopify','GraphQl'],
    link: 'https://apps.shopify.com/holnix'
  },
  {
    title: 'Tesis de Pregrado',
    category: 'Machine Learning',
    description: 'Desarrollo de un componente AutoML que automatiza tareas de agrupamiento en flujos KNIME.',
    image: './Tesis 1.png',
    tags: ['Knime','Python','Pandas','Scikit-Learn','Pytorch'],
    link: 'https://github.com/elmayii/AutoML_Clustering.git'
  },
  {
    title: 'DocAI',
    category: 'Aplicación Web',
    description: 'Aplicación Web para conformar documentos empresariales que reduce el tiempo y el esfuerzo dedicados a su elaboración y procesamiento.',
    image: './DocAi.png',
    tags: ['NextJS','React','Tailwind','Shadcn']
  },
  {
    title: 'gaming-coach.ai',
    category: 'Proyecto Personal',
    description: 'CoachAI es una plataforma de coaching personalizado con IA para gamers, ofreciendo análisis y feedback en tiempo real.',
    image: './gaming-coach.png',
    tags: ['Astro','React','Tailwind','Python','Openai','Keras','TensorFlow']
  },
  {
    title: 'CompraChat',
    category: 'Proyecto Personal',
    description: 'CompraChat propone un asistente de compras online con IA que ayuda a usuarios españoles a comparar productos.',
    image: './CompraChat.png',
    tags: ['NextJS','React','Tailwind','Shadcn','Python','Openai','Celery','MongoDB','Redis','Selenium','Playwright']
  }
];

const socialLinks = [
  { name: 'Linkedin', url: 'https://www.linkedin.com/in/mario-perera-b30921237/' },
  { name: 'Github', url: 'https://github.com/elmayii' },
  { name: 'Instagram', url: 'https://www.instagram.com/sr_perera/' }
];
---

<Layout title="sr-perera" description="Emprendedor Digital e Ingeniero de Software" image='./HeroImage.jpg'>
  <Navbar items={navItems} client:load />
  
  <main>
    <Hero 
      name="Mario Perera (srperera)" 
      title="Ingeniero de Software y Desarrollador Freelance" 
      subtitle="Hola, soy" 
      scrollText="Desplázate para más" 
    />
    
    <LazyShow client:load>
      <About/>
    </LazyShow>

    <LazyShow client:load>
      <Experience workItems={workExperience} educationItems={education} />
    </LazyShow>
	<br/>

    
      <Skills 
        title="Capacidades" 
        subtitle="Mi pasión y objetivo es ayudarte a hacer que tu negocio destaque." 
        skills={skills}
        client:load
      />

    <Projects 
      title="Trabajos Seleccionados" 
      subtitle="Aquí hay algunos de mis trabajos seleccionados que he realizado últimamente. Siéntete libre de revisarlos." 
      projects={projects} 
      client:load
    />

    
    <LazyShow client:load>
      <Contact 
        email="mariomanuel.pereravaldes@gmail.com" 
        phone="+34 614 32 73 04" 
        socialLinks={socialLinks} 
      />
    </LazyShow>
  </main>
  
  <Footer />
</Layout>

<style>
	
</style>
